body {
    text-align: center;
    background-image: url(../img/background.png);
    background-size:2000px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-clip: border-box;
    background-color:#86CA52 ;
  }
  h1{
    color: #006234;
    font: bold 30px Verdana;
  }
  .container{
    /* display: block; */
    /* display: inline-block; */
      /* display: inline */
      /* transform: translate(45%, 0%); */
      /* left: 800px; */
  }
.table{
      display: inline;
}
  .cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.5em;
    border: 2px solid #00AA4D;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
  }
.flag, .mind, .number, .closed{
    width: 40px;
    height: 40px;
    display: block;
  }
.stopwatch{
    margin: 30px;
}
.radio2{
    width: 100px;
    margin: 30px;
    /* background-color: blue; */
}
.menu{
    border: 5px solid #028849;
    border-radius: 15px;
    display: inline-block;
    background-color: white;
}
.menu td{
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 1.5em;
    border: 2px solid #00AA4D;
    border-radius: 10px;
}

.face{
    width: 200px;
    height: 150px;
    display: block;
    cursor: pointer;
}
.level{
    cursor: pointer;
}
.level:hover{
  background-color: rgba(255, 255, 157, 0.726);
}
  .selected{
    background-color: #B2D031
  }
  .flagSign{
     width:25px;
      display: inline;
      margin: 7px;
  }
  .heart{
  height: 25px;
  }
  .hint{
    width:45px;
     display: inline;
     margin: 2px;
     cursor: pointer;
 }
 .safe{
  width:80px;
  cursor: pointer;
 }
.undoPhoto{
  height: 100px;
  cursor: pointer;
}
.name{
  /* margin: 30px; */
  background-color: rgba(160, 160, 36, 0.555);
  bottom: 0px;
  left: 45%;
  position: absolute;
}