body {
    /* background-color: black; */
    /* color:white; */
    text-align: center;
  }
  .container{
    /* display: block; */
    /* display: inline-block; */
      /* display: block; */
      /* transform: translate(45%, 0%); */
  }
  /* .table{
      height: 500px;
      width: 500px; */
  /* } */
  .cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.5em;
    border: 2px solid #00AA4D;
    cursor: pointer;
  }
.food , .pacman, .flag, .mind, .number, .closed{
    width: 40px;
    height: 40px;
    display: block;
  }
  ul {
      list-style: none;
      display: inline-block;
      display: none;
}
ul li {
    background-color: #86CA52;
    height: 80px;
    width: 300px;
    margin: 15px;
    border: 10px solid #028849;
    border-radius: 15px;
}
.stopwatch{
    margin: 30px;
}
.radio2{
    width: 100px;
    margin: 30px;
    /* background-color: blue; */
}
.menu{
    border: 5px solid #028849;
    border-radius: 15px;
    display: inline-block;
}
.menu td{
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 1.5em;
    border: 2px solid #00AA4D;
}

.face{
    width: 200px;
    height: 150px;
    display: block;
    cursor: pointer;
}
.level{
    cursor: pointer;
}
/* .radio {
    width: 20%;
    margin-left: 150px;
    float: left;
    background: #2a9d8f;
    height: 80px;
    border-radius:30px;
    font-size: 30px;
    border: 6px solid #f4a261;
    font: 17px Verdana;
  } */